{% extends "Master.html" %}

{% block title %}About{% endblock %}

{% block content %}
        <!--Main Content-->
        <div class="mainContainer">
            <div class="contentArea>">

                <!--Introduction-->
                <div class="introduction">
                    <p>Introduction Here</p>
                </div>

                <!--Solution-->
                <div class="solution">
                    <p>Solution Here</p>
                </div>

                <!--Encourage use-->
                <div class="encourage">
                    <p>Encourage Here</p>
                </div>
            </div>
{% endblock %}